.container1 {
  background-color: white;
  width: 90%;
  margin: auto; }

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }
  .container2 div {
    width: 100%;
    text-align: center;
    font-size: 250%;
    font-weight: bold; }
    .container2 div:hover {
      cursor: pointer;
      color: #3D499F; }
  .container2 img {
    height: 600px;
    width: auto; }

.container3 {
  width: 70%;
  margin: auto; }

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }

img {
  width: 100%; }

.custom1 {
  font-size: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-spacing {
  padding: 5px;
  background-color: #f7f4f4;
  width: 100%; }

.line {
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 0.1px; }
